// Import base framework
@import "framework/normalize";
@import "framework/framework";
@import "framework/icons";

#header {
  padding: 1.5rem 0;
}

#header ul.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  margin-bottom: 0;
  list-style: none;
}

#header ul.nav > li {
  display: inline-block;
  margin-bottom: 0;
  align-self: center;
}

#header ul.nav > li > a {
  font-size: 2.0rem;
  font-weight: 400;
}

@media (min-width: 40rem) {
  #header ul.nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

#intro {
  position: relative;
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: $primary-color;
  background-image: url(../img/bg-placeholder.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
}

#intro * {
  color: #fff;
}

#intro::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $primary-color;
    opacity: 0.85;
}

#about {
  padding-top: 8%;
  padding-bottom: 8%;
}

#about .row {
  padding-bottom: 5%;
}

#about .row:last-child {
  padding-bottom: 0;
}

#about h4 {
  display: inline-block;
  margin-left: 2.0rem;
  vertical-align: middle;
  margin-bottom: 3.4rem;
}

#about i {
  display: inline-block;
  font-size: 6rem;
  color: $primary-color;
  margin-bottom: 3.4rem;
  vertical-align: middle;
}

#contact {
  text-align: center;
}

#contact .cta {
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: $primary-color;
}

#contact .cta * {
  color: #fff;
}

#contact .cta a.button > i {
  margin-right: 1rem;
}

#contact .social {
  padding-top: 5%;
  padding-bottom: 2.0rem;
}

#contact .social ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  margin-bottom: 0;
  list-style: none;
}

#contact .social ul > li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
}

#contact .social ul > li:last-child {
  margin-right: 0;
}

#contact .social ul > li > a {
    font-size: 2.4rem;
}

#contact .copyright {
  padding-bottom: 5%;
  font-size: 1.6rem;
}

@media (min-width: 40rem) {
  #contact .cta .container {
    width: 50%;
  }
  #contact .social ul {
    width: 33.33%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 40rem) {
    #intro {
      text-align: center;
    }
    #about .column {
      padding-bottom: 5%;
    }
    #about .column:last-child {
      padding-bottom: 0;
    }
    #about h4 {
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
    }
    #about i {
      font-size: 5rem;
      margin-bottom: 1.5rem;
    }
    #contact .cta a.button > i {
      display: none;
      margin-right: 0.5rem;
    }
}
