<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>

    <header id="header">
      <div class="container">
        <ul class="nav">
          <li><a href="#about">About</a></li>
            <li><a href="{{ '/' | relative_url }}"><img border="0" alt="Jessy Hart" src="{{ '/assets/img/jessy-hart-Logo.svg' | relative_url }}" width="100" height="100"></a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </header>

    {{ content }}

    <footer id="contact">
      <div class="cta">
        <div class="container">
          <h1>Let's Grab a Coffee!</h1>
          <p>I am always keen for a good coffee, the long black is where it's at. What's yours?</p>
          <a href="mailto:hello@jessyhart.com" class="button button-clear"><i class="icon-envelope"></i>hello@jessyhart.com</a>
        </div>
      </div>
      <div class="social">
        <div class="container">
          <ul>
            <li><a href="https://www.facebook.com/jessyhartau"><i class="icon-social-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/iamjessyhart/"><i class="icon-social-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/jessyhart/"><i class="icon-social-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        © 2017 Jessy Hart. All rights reserved.
      </div>
    </footer>

    {% if site.google_analytics %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106936496-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106936496-1');
    </script>
    {% endif %}
  </body>
</html>
