<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>

    <header id="header">
      <div class="container">
        <ul class="nav">
          <li><a href="#about">About</a></li>
          <li><a href="#work">Work</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </header>

    {{ content }}

    <footer id="contact">
      <div class="cta">
        <div class="container">
          <h1>Let's Grab a Coffee!</h1>
          <p>I am always keen for a good coffee, my absolute favourite is a triple-shot caramel latte. What's yours?</p>
          <a href="mailto:contact@angusthompson.com.au" class="button button-clear"><i class="icon-envelope"></i>contact@angusthompson.com.au</a>
        </div>
      </div>
      <div class="social">
        <div class="container">
          <ul>
            <li><a href="https://www.facebook.com/angustho"><i class="icon-social-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/thomo120/"><i class="icon-social-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/AngusThompson120"><i class="icon-social-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/in/angus-thompson-22931762/"><i class="icon-social-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        © 2017 Jessy Hart. All rights reserved.
      </div>
    </footer>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
